
<form action="/toDont" method="POST">
        <fieldset>
            <label for="description">Description</label>
            <input type="text" name="description"/>

            <label for="urgent">Urgent</label>
            <input type="email" name="urgent"/>

        </fieldset>
    </form>